:3000
log ./log/caddy.log
ext .html
errors {
  404 404.html
}

root public

rewrite /resume /resume.pdf
rewrite /feed.xml /index.xml
rewrite /feed.rss /index.xml
rewrite {
  to {path} {path}/ {path}/index.html /404.html
}

tls off
