%a{ :href => url("/articles.xml"), :title => "Subscribe to JJasonClark.com", :class => 'social_button' }
  %img{ :src => url("/images/feed.png"), :alt => "Subscribe to JJasonClark.com", :width => 24, :height => 24 }
