%footer.branding
  %p
    By
    %a(title="Jason Clark" rel="author" href="https://plus.google.com/117263003751658777941")Jason Clark
  %small
    Powered by Nesta, a
    %a(href="http://nestacms.com") Ruby CMS
