%a{ :href => "http://github.com/jjasonclark", :title => "Jason Clark on Github", :class => 'social_button' }
  %img{ :src => url("/images/github.png"), :alt => "Jason Clark on Github", :width => 24, :height => 24 }
