%header(role="banner")
  %hgroup.title
    %a{ :href => url("/"), :title => "JJasonClark.com" }
      %h1= @heading
      %h2= @subtitle
  %hgroup.social
    %a{ :href => url('/contact'), :title => 'Contact me' }
      Contact me
    = haml :social, :layout => false
