- #inspired from https://github.com/brettchalupa/nesta-theme-moshi/blob/master/views/social.haml
= haml :twitter, :layout => false
= haml :google, :layout => false
= haml :github, :layout => false
= haml :feed, :layout => false
