jjasonclark.com {
  tls jason@jjasonclark.com
  ext .html
  log stdout

  errors {
    log stderr
    404 404.html
  }

  root /var/www/html

  rewrite /resume /resume.pdf
  rewrite /feed.xml /index.xml
  rewrite /feed.rss /index.xml
  rewrite {
    to {path} {path}/ {path}/index.html /404.html
  }
}
