%a{ :href => "http://twitter.com/jjasonclark", :title => "Jason Clark on Twitter" }
  %img{ :src => "/turtledev/images/twitter.png", :alt => "Jason Clark on Twitter", :width => 24, :height => 24 }
%a{ :href => "http://github.com/jjasonclark", :title => "Jason Clark on Github" }
  %img{ :src => "/turtledev/images/github.png", :alt => "Jason Clark on Github", :width => 24, :height => 24 }
%a{ :href => "/articles.xml", :title => "Subscribe"}
  %img{ :src => "/turtledev/images/feed.png", :alt => "Subscribe", :width => 24, :height => 24 }
