%a{ :href => "http://twitter.com/jjasonclark", :title => "Jason Clark on Twitter" }
  %img{ :src => "/turtledev/images/twitter.png", :alt => "Jason Clark on Twitter" }
%a{ :href => "http://github.com/jjasonclark", :title => "Jason Clark on Github" }
  %img{ :src => "/turtledev/images/github.png", :alt => "Jason Clark on Github" }
%a{ :href => "/articles.xml", :title => "Subscribe"}
  %img{ :src => "/turtledev/images/feed.png", :alt => "Subscribe" }
