<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div class="page-content">
      {{- partial "side_bar_ad.html" . -}}
      <div class="wrapper">
        <div class="home">
          <h1 class="page-heading">Posts</h1>
          <ul class="post-list">
            {{- range (.Paginate (where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections)).Pages -}}
            <li>
              <span class="post-meta">{{- .Date.Format "Jan 2, 2006" -}}</span>

              <h2>
                <a class="post-link" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
              </h2>
              <p>
                {{- .Params.summary -}}
              </p>
            </li>
            {{- end -}}
          </ul>
          {{- template "_internal/pagination.html" . -}}
          <p class="rss-subscribe">subscribe <a href="/index.xml">via RSS</a></p>
        </div>
      </div>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "last_js.html" . -}}
  </body>
</html>
