<div class='social'>
<a href="http://github.com/jjasonclark" title="Jason Clark on Github" class='social_button'>
  <img src="/assets/github.png" alt="Jason Clark on Github" width=24 height=24 />
</a>
<a href="/feed.xml" title="Subscribe to JJasonClark.com" class='social_button'>
 <img src="/assets/feed.png" alt="Subscribe to JJasonClark.com" width=24 height=24 />
</a>
<a href="https://twitter.com/share" class='twitter-share-button' data-url="{{ page.permalink }}" via="jjasonclark" lang="en">Tweet</a>
<div class='g-plusone'></div>
</div>