<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/">{{- .Site.Title -}}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/contact">Contact me</a>
        <div class='social'>
          <a href="http://github.com/jjasonclark" title="Jason Clark on Github" class='social_button'>
            <img src="/assets/github.png" alt="Jason Clark on Github" width=24 height=24>
          </a>
          <a href="/index.xml" title="Subscribe to JJasonClark.com" class='social_button'>
            <img src="/assets/feed.png" alt="Subscribe to JJasonClark.com" width=24 height=24>
          </a>
          <a href="https://twitter.com/share" class='twitter-share-button' data-url="{{- .Params.url -}}" via="jjasonclark" lang="en">Tweet</a>
        </div>
      </div>
    </nav>
  </div>
</header>
